{% extends 'base.html.twig' %}

{% block title %}FL QR Code generator!{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(qrcode_form) }}
        {{ form_end(qrcode_form) }}
        {{ form_start(delete_form, {'method' : 'POST', 'action' : path('app_delete')}) }}
        {{ form_end(delete_form) }}
        {{ form_start(download_form, {'method' : 'POST', 'action' : path('app_download')}) }}
        {{ form_end(download_form) }}
        <hr>
        <div class="images">
            {% for i in files %}
                <a class="link-group" href="/qrcodes/{{ i }}" download="{{ i }}">
                    <img src="/qrcodes/{{ i }}" alt="QR">
                    <p>{{ i }}</p>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
