{% extends 'base.html.twig' %}

{% block title %}FL QR Code generator!{% endblock %}

{% block body %}
    <style>
        body {
            min-width: 320px;
        }

        .container {
            display: grid;
            row-gap: 2em;
            margin: 2% 10%;
        }

        form {
            width: 100%;
            max-width: 320px;
            display: flex;
            flex-direction: column;
            row-gap: 2em;
            margin: auto;
        }

        form .input-group {
            display: flex;
            flex-direction: column;
            row-gap: .5em;
        }

        .input-group input, .input-group button {
            border-radius: 12px;
            font-family: monospace;
            font-size: 16px;
            padding: 6px 12px;
            border: 1px solid grey;
        }

        form .input-group button {
            margin: auto;
            width: 100px;
            color: white;
            border: 0;
            background-color: #0876A6;
        }

        .images {
            display: flex;
            flex-wrap: wrap;
        }

        .images a {
            padding: 8px 12px;
            text-decoration: none;
        }

        .images a img {
            max-width: 200px;
        }

        hr {
            width: 100%;
        }

        .link-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: .5em;
        }

        .link-group p {
            font-size: 16px;
            font-family: monospace;
            text-decoration: none;
            color: black;
        }
    </style>
    <div class="container">
        {{ form_start(qrcode_form) }}
        {{ form_end(qrcode_form) }}
        {{ form_start(delete_form) }}
        {{ form_end(delete_form) }}
        <hr>
        <div class="images">
            {% for i in files %}
                <a class="link-group" href="/qrcodes/{{ i }}" download="{{ i }}">
                    <img src="/qrcodes/{{ i }}" alt="QR">
                    <p>{{ i }}</p>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
